@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand img {
  height: 50px;
  /* float: left; */
  margin-right: 7px;
}
.hi {
  align-content: center;
  justify-content: center;
}
.page-header {
  margin-top: 4.6rem;
  color: White;
}

.feature {
  color: whitesmoke;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}
.feature ul li {
  padding-left: 2rem;
  background-image: url(../logos/lee.png);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.gradient {
  background-image: linear-gradient(to right bottom, #41d5e7, #00caff, #00b7ff, #9a95ff, #f858f9);
}

.icon {
  color: whitesmoke;
  height: 6rem;
  width: 5rem;
  font-size: 1.8rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text-j {
  text-align: justify;
}

.text-j h2 {
  text-align: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
  height: 419px;
  align-items: center;
  justify-content: center;
}

.author-img img {
  border-radius: 100%;
}
.services {
  color: white;
}
.companies img {
  width: 160px;
  height: 140px;
}

.companies em {
  text-decoration: underline;
}
